<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="template :: head"></head>
<body>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<!-- Navigation -->
<nav th:replace="template :: navigation"></nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Wyszukaj opinie o prowadzących</h1>
        <h3>Darmowe, szybkie i odjebane na szybko</h3>
        <br/>
        <div class="alert alert-warning" th:if="${error != null}">
            <strong>Warning</strong>
            <small th:text="'Nie znaleziono prowadzącego o nazwie: ' + ${error}"></small>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <form th:action="@{/search/review}" method="get" role="form">
                <div class="form-group input-group">
                    <input type="text" name="lecturer"
                           class="form-control"
                           placeholder="Znajdź prowadzącego..."
                           list="lecturers"
                           data-minchars="2"
                           data-maxitems="10"/>
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                              <i class="fa fa-search"></i>
                          </button>
                      </span>


                    <datalist id="lecturers">
                        <option th:each="lecturer: *{lecturerList}"
                                th:text="${lecturer.name}"></option>
                    </datalist>
                </div>
            </form>
        </div>

    </div>
</header>
</body>

</html>
